.BigBall{
    height: 60px;
    width: 60px;
   
   
    border-color: #675DFF;
}

.SmallBall{
    height: 20px;
    width: 20px;
    
}

.SignInMain{
    background-color: #F7F7F9;
}

.navBackGround{
    animation: NavBackGroundColor 1s linear;
    animation-fill-mode: forwards;
    color: white;
}

.MainColor{
    
    transition: 1s;
}

.MainBackColor{
    border-color: #675DFF;
    
}
.containerSignIn{
   
    min-height: 75%;
   
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}



.ImageWidth{
    width: 150px;
    height: 150px;
}




@media only screen and (max-width: 800px) {
 
    .ImageWidth{
        width: 100px;
        height: 100px;
    }

  
  
  }




  


  @keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: hidden;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #e5e5e5;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 3s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 78vw;
    top: 76vh;
    border-color: #ffffff;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 70vw;
    top: 64vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 11vw;
    top: 21vh;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 18vw;
    top: 52vh;
    border-color: #ffffff;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 2vw;
    top: 38vh;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 66vw;
    top: 56vh;
    border-color: #ffffff;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 75vw;
    top: 84vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 24vw;
    top: 31vh;
    border-color: #ffffff;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 88vw;
    top: 59vh;
    border-color: #ffffff;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 37vw;
    top: 48vh;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 13vw;
    top: 7vh;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 56vw;
    top: 93vh;
    border-color: #ffffff;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 80vw;
    top: 62vh;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 66vw;
    top: 70vh;
    border-color: #ffffff;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 99vw;
    top: 69vh;
    border-color: #ffffff;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 42vw;
    top: 11vh;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 23vw;
    top: 3vh;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 96vw;
    top: 0vh;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 33vw;
    top: 74vh;
}

.background li:nth-child(19) {
    animation-delay: 38s;
    left: 91vw;
    top: 13vh;
    border-color: #ffffff;
}

.background li:nth-child(20) {
    animation-delay: 40s;
    left: 33vw;
    top: 35vh;
}

.background li:nth-child(21) {
    animation-delay: 42s;
    left: 41vw;
    top: 79vh;
}

.background li:nth-child(22) {
    animation-delay: 44s;
    left: 4vw;
    top: 47vh;
}

.background li:nth-child(23) {
    animation-delay: 46s;
    left: 81vw;
    top: 18vh;
    border-color: #ffffff;
}

.background li:nth-child(24) {
    animation-delay: 48s;
    left: 45vw;
    top: 40vh;
    border-color: #ffffff;
}

.background li:nth-child(25) {
    animation-delay: 50s;
    left: 8vw;
    top: 94vh;
    border-color: #ffffff;
}

.background li:nth-child(26) {
    animation-delay: 52s;
    left: 17vw;
    top: 43vh;
    border-color: #ffffff;
}

.background li:nth-child(27) {
    animation-delay: 54s;
    left: 53vw;
    top: 89vh;
    border-color: #ffffff;
}

.background li:nth-child(28) {
    animation-delay: 56s;
    left: 61vw;
    top: 87vh;
    border-color: #ffffff;
}

.background li:nth-child(29) {
    animation-delay: 58s;
    left: 27vw;
    top: 24vh;
    border-color: #ffffff;
}

.background li:nth-child(30) {
    animation-delay: 60s;
    left: 85vw;
    top: 18vh;
}

.background li:nth-child(31) {
    animation-delay: 62s;
    left: 48vw;
    top: 27vh;
    border-color: #ffffff;
}

.background li:nth-child(32) {
    animation-delay: 64s;
    left: 59vw;
    top: 99vh;
    border-color: #ffffff;
}


@keyframes NavBackGroundColor {

    100% {background-color: #5146e4;}
    
}

@media screen and (max-width: 600px) {

    .BigBall{
        height: 40px;
        width: 40px;
       
       
        border-color: #675DFF;
    }
    
    .SmallBall{
        height: 10px;
        width: 10px;
        
    }
    
}